body{
    margin: 0;
}

#tokio {
    height: 60px;
    margin: 0 auto;
}

header {
    background-color: black;
    color: #333fff;
    text-align: center;
}

header h1 {
    font-size: 16pt;
    font-weight: bold;
}

header a {
    color: white;
    padding: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3rem;
    background-color: black;
    color: white;
    
}

footer a {
    color: white;
    padding: 16px;
}
